<div class="container py-5">
  <h1>Competing Teams</h1>

  <hr>

  <% @teams.each do |t| %>
    <div class="team-card p-3 mb-3">
      <h1><%= t.name %></h1>
      <p>Coach: <%= t.coach %></p>
      <p>Nationality: <%= t.nationality %></p>

      <ul>
        <% t.players.each do |p| %>
          <li>
            <%= p.first_name %> <%= p.last_name %> (<%= p.nationality %>)
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= link_to "Create a new team", new_team_path, class: "btn btn-primary" %>
</div>

