<div class="container py-5">
  <%= simple_form_for @form, url: teams_path do |f| %>

    <h3>Team</h3>

    <%= f.error_notification message: f.object.errors[:player].to_sentence if f.object.errors[:player].present? %>

    <div>
      <%= f.input :name %>
      <%= f.input :coach %>
      <%= f.input :nationality %>
    </div>

    <hr class="my-5">

    <div>
      <%= f.simple_fields_for :players do |player| %>
        <h4>Player <%= player.index + 1 %></h4>
        <%= player.input :first_name %>
        <%= player.input :last_name %>
        <%= player.input :nationality %>
      <% end %>
    </div>

    <%= f.submit "Create my team", class: "btn btn-primary" %>
  <% end %>
</div>
